<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Стем</title>
    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
    <script src="js/libs/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
    <script type="module" src="js/content.js"></script>
</head>
<body>
<header>
    <img src="img/noroot.png">
</header>
<aside id="side">
    <a @click.prevent="profile" class="abcd">Профиль</a>
    <a @click.prevent="basket" class="abcd">Корзина</a>
    <a @click.prevent="timetable" class="abcd">Расписание</a>
    <a @click.prevent="shop" class="abcd">Магазин</a>
    <a @click.prevent="admin" class="abcd">Админка</a>
    <template v-if="isAdmin === true">
        <hr>
        <a @click.prevent="adminprofile" class="abcd">Профили</a>
        <a @click.prevent="admintimetable" class="abcd">Курсы</a>
        <a @click.prevent="adminbasket" class="abcd">Товары</a>
        <a @click.prevent="adminshop" class="abcd">Магазин</a>
    </template>
</aside>

<div id="content">
    <template v-if="isAuth === false">
        <form id="loginForm" @submit.prevent>
            <simple-card key="loginCard">
                <card-input key="login" name="login" label="Логин"></card-input>
                <card-input key="password" name="password" label="Пароль" type="password"></card-input>
                <card-button @click.native="auth" label="Войти"></card-button>
            </simple-card>
        </form>
    </template>
    <template v-else>
        <template v-if="site==='profile'">
            <simple-card key="profile">
                <card-image key="icon" :src="img" style="margin: 10px auto  "></card-image>
                <card-label key="name" :label="'Имя: ' + name"></card-label>
                <card-label key="surname" :label="'Фамилия: ' + surname"></card-label>
            </simple-card>
        </template>
        <template v-if="site==='shop'">
            <template v-for="card in data">
                <simple-card :key="card.id">
                    <card-label key="title" :label="card.title"></card-label>
                    <card-image key="img" :src="card.img"></card-image>
                    <card-label key="about" :label="card.about"></card-label>
                    <card-label key="quantity" :label="'Количество: ' + card.quantity"></card-label>
                    <card-button key="buy" @click.prevent.native="buy(card.id, card.cost)" :label="card.cost + '$'"></card-button>
                </simple-card>
            </template>
        </template>
        <template v-if="site==='basket'">
            <template v-for="card in data">
                <simple-card :key="card.id + card.status">
                    <card-label key="title" :label="card.title"></card-label>
                    <card-image key="img" :src="card.img"></card-image>
                    <card-label key="about" :label="card.about"></card-label>
                    <card-label key="quantity" :label="'Количество: ' + card.quantity"></card-label>
                    <card-label key="status" :label="'Статус: ' + card.status"></card-label>
                    <card-button v-if="card.status === 'not'" key="confirm" :label="'Подтвердить'" @click.prevent.native="confirm(card.id)"></card-button>
                    <card-button v-if="card.status === 'not'" class="second-card-button" key="cancel" :label="'Отменить'" @click.prevent.native="decline(card.id)"></card-button>
                </simple-card>
            </template>
        </template>
        <template v-if="site==='timetable'">
            <template v-for="card in data">
                <simple-card :key="card.id">
                    <card-label key="title" :label="card.course"></card-label>
                    <card-image key="img" :src="card.courseimg"></card-image>
                    <card-button key="confirm" label="К уроку" @click.prevent.native="lesson(card.id)"></card-button>
                </simple-card>
            </template>
        </template>
        <template v-if="site==='lesson'">
            <simple-card key="homework">
                <card-label key="homeworktitle" label="ДЗ"></card-label>
                <card-label key="homework" :label="data.homework"></card-label>
                <card-button label="Изменить" @click.prevent.native="homework(data.course, data.lesson)"></card-button>
            </simple-card>
            <simple-card key="course">
                <card-label key="coursenametitle" :label="data.coursename"></card-label>
                <card-image key="img" :src="data.courseimg"></card-image>
            </simple-card>
            <simple-card key="marks">
                <card-label key="pupilstitle" label="Ученики"></card-label>
                <template v-for="pupil in data.pupils">
                    <card-label key="marks" :label="pupil.name + ' ' + pupil.surname"></card-label>
                </template>
                <card-button label="Оценки" @click.prevent.native="mark(data.course, data.lesson)"></card-button>
            </simple-card>
        </template>
        <template v-if="site==='mark'">
            <template v-for="mark in data">
                <simple-card :key="mark.pupil">
                    <card-label key="name" :label="mark.name + ' ' + mark.surname"></card-label>
                    <form :id="mark.pupil">
                        Оценка:
                        <input type="radio" v-model="mark.a" value="1" name="a"> 1
                        <input type="radio" v-model="mark.a" value="2" name="a"> 2
                        <input type="radio" v-model="mark.a" value="3" name="a"> 3
                        <input type="radio" v-model="mark.a" value="4" name="a"> 4
                        <input type="radio" v-model="mark.a" value="5" name="a"> 5 <br>
                        Оценка:
                        <input type="radio" v-model="mark.b" value="1" name="b"> 1
                        <input type="radio" v-model="mark.b" value="2" name="b"> 2
                        <input type="radio" v-model="mark.b" value="3" name="b"> 3
                        <input type="radio" v-model="mark.b" value="4" name="b"> 4
                        <input type="radio" v-model="mark.b" value="5" name="b"> 5 <br>
                        Оценка:
                        <input type="radio" v-model="mark.c" value="1" name="c"> 1
                        <input type="radio" v-model="mark.c" value="2" name="c"> 2
                        <input type="radio" v-model="mark.c" value="3" name="c"> 3
                        <input type="radio" v-model="mark.c" value="4" name="c"> 4
                        <input type="radio" v-model="mark.c" value="5" name="c"> 5 <br>

                        <card-button @click.prevent.native="setmark(mark.pupil, mark.lesson, mark.pupil)" label="Оценить"></card-button>
                    </form>

                </simple-card>
            </template>
        </template>
        <template v-if="site==='homework'">
            <simple-card key="homework">
                <form id="homework">
                    <card-label key="title" label="ДЗ"></card-label>
                    <card-input key="homework" :value="data.homework" name="homework"></card-input>
                    <card-button @click.prevent.native="sethomework('homework', data.id, data.course)" label="Изменить"></card-button>
                </form>
            </simple-card>
        </template>
        <template v-if="site==='adminprofile'">
            <template v-for="card in data">
                <simple-card :key="card.id">
                    <card-label :label="card.name + ' ' + card.surname"></card-label>
                    <card-image :src="card.img"></card-image>
                    <card-label :label="'Коинов: ' + card.coins"></card-label>
                    <card-button @click.prevent.native="editprofile(card.id)" label="Изменить"></card-button>
                </simple-card>
            </template>
            <simple-card key="create">
                <card-button @click.prevent.native="createprofile" style="width: 100%; height: 100%; bottom: 0px; margin: 0px" label="+"></card-button>
            </simple-card>
        </template>
        <template v-if="site==='adminprofileedit'">
            <template v-if="data !== undefined">
                <simple-card :key="data.id" style="height: 650px">
                    <form id="profile">
                        <card-label label="Редактирование"></card-label>
                        <card-image :src="data.img"></card-image>
                        <card-input name="savelogin" label="Логин" :value="data.login"></card-input>
                        <card-input name="savepassword" label="Пароль" :value="data.password"></card-input>
                        <card-input name="saveimg" label="Аватар" :value="data.img"></card-input>
                        <card-input name="savename" label="Имя" :value="data.name"></card-input>
                        <card-input name="savesurname" label="Фамилия" :value="data.surname"></card-input>
                        <card-input name="savecoins" label="Коины" :value="data.coins"></card-input>
                        <card-input name="saveteacher" type="checkbox" label="Учитель" :checked="data.teacher === true"></card-input>
                        <card-input name="saveadmin" type="checkbox" label="Админ" :checked="data.admin === true"></card-input>
                        <input type="hidden" :value="data.id" name="saveid">
                        <card-button @click.prevent.native="saveprofile(data.id, 'profile')" label="Сохранить"></card-button>
                        <card-button @click.prevent.native="adminprofile" class="second-card-button" label="Отменить"></card-button>
                    </form>
                </simple-card>
            </template>
            <template v-else>
                <simple-card style="height: 650px">
                    <form id="profilecreate">
                        <card-label label="Создание"></card-label>
                        <card-image src="img/noroot.png"></card-image>
                        <card-input name="savelogin" label="Логин"></card-input>
                        <card-input name="savepassword" label="Пароль"></card-input>
                        <card-input name="saveimg" label="Аватар"></card-input>
                        <card-input name="savename" label="Имя"></card-input>
                        <card-input name="savesurname" label="Фамилия"></card-input>
                        <card-input name="savecoins" label="Коины"></card-input>
                        <card-input name="saveteacher" type="checkbox" label="Учитель"></card-input>
                        <card-input name="saveadmin" type="checkbox" label="Админ"></card-input>
                        <input type="hidden" value="default" name="saveid">
                        <card-button @click.prevent.native="saveprofile('default', 'profilecreate')" label="Сохранить"></card-button>
                        <card-button @click.prevent.native="adminprofile" class="second-card-button" label="Отменить"></card-button>
                    </form>
                </simple-card>
            </template>

        </template>
        <template v-if="site==='adminbasket'">
            <template v-for="card in data">
                <simple-card :key="card.id">
                    <card-label :label="card.title"></card-label>
                    <card-image :src="card.img"></card-image>
                    <card-label :label="'Покупатель: ' + card.name + ' ' + card.surname"></card-label>
                    <card-label :label="'Статус: ' + card.status"></card-label>
                    <card-button @click.prevent.native="editbasket(card.id)" label="Изменить"></card-button>
                </simple-card>
            </template>
        </template>
        <template v-if="site==='adminbasketedit'">
            <simple-card :key="data.id">
                <form id="basket">
                    <card-label label="Редактирование"></card-label>
                    <card-label :label="data.title"></card-label>
                    <card-image :src="data.img"></card-image>
                    <card-label :label="'Покупатель: ' + data.name + ' ' + data.surname"></card-label>
                    <select name="savestatus">
                        <template v-for="status in statuses">
                            <option :value="status" :selected="data.status === status">{{status}}</option>
                        </template>
                    </select>
                    <input type="hidden" name="saveid" :value="data.id">
                    <card-button @click.prevent.native="savebasket(data.id, 'basket')" label="Сохранить"></card-button>
                    <card-button @click.prevent.native="adminbasket" class="second-card-button" label="Отменить"></card-button>
                </form>
            </simple-card>
        </template>
        <template v-if="site==='adminshop'">
            <template v-for="card in data">
                <simple-card :key="card.id">
                    <card-label :label="card.title"></card-label>
                    <card-image :src="card.img"></card-image>
                    <card-label :label="'Стоимость: ' + card.cost"></card-label>
                    <card-button @click.prevent.native="editshop(card.id)" label="Изменить"></card-button>
                </simple-card>
            </template>
            <simple-card key="create">
                <card-button @click.prevent.native="createshop" style="width: 100%; height: 100%; bottom: 0px; margin: 0px" label="+"></card-button>
            </simple-card>
        </template>
        <template v-if="site==='adminshopedit'">
            <template v-if="data !== undefined">
                <simple-card :key="data.id" style="height: 500px">
                    <form id="shop">
                        <card-label label="Редактирование"></card-label>
                        <card-image :src="data.img"></card-image>
                        <card-input name="savetitle" label="Название" :value="data.title"></card-input>
                        <card-input name="saveimg" label="Аватар" :value="data.img"></card-input>
                        <card-input name="saveabout" label="О товаре" :value="data.about"></card-input>
                        <card-input name="savecost" label="Стоимость" :value="data.cost"></card-input>
                        <card-input name="savequantity" label="Количество" :value="data.quantity"></card-input>
                        <input type="hidden" name="saveid" :value="data.id">
                        <card-button @click.prevent.native="saveshop(data.id, 'shop')" label="Сохранить"></card-button>
                        <card-button @click.prevent.native="adminshop" class="second-card-button" label="Отменить"></card-button>
                    </form>
                </simple-card>
            </template>
            <template v-else>
                <simple-card style="height: 500px">
                    <form id="shopcreate">
                        <card-label label="Редактирование"></card-label>
                        <card-image src="img/noroot.png"></card-image>
                        <card-input name="savetitle" label="Название"></card-input>
                        <card-input name="saveimg" label="Аватар"></card-input>
                        <card-input name="saveabout" label="О товаре"></card-input>
                        <card-input name="savecost" label="Стоимость"></card-input>
                        <card-input name="savequantity" label="Количество"></card-input>
                        <input type="hidden" value="default" name="saveid">
                        <card-button @click.prevent.native="saveshop('default', 'shopcreate')" label="Сохранить"></card-button>
                        <card-button @click.prevent.native="adminshop" class="second-card-button" label="Отменить"></card-button>
                    </form>
                </simple-card>
            </template>

        </template>
        <template v-if="site==='admintimetable'">
            <template v-for="card in data">
                <simple-card :key="card.id">
                    <card-label :label="card.coursename"></card-label>
                    <card-image :src="card.courseimg"></card-image>
                    <card-button @click.prevent.native="edittimetable(card.id)" label="Изменить"></card-button>
                </simple-card>
            </template>
            <simple-card key="create">
                <card-button @click.prevent.native="createtimetable" style="width: 100%; height: 100%; bottom: 0px; margin: 0px" label="+"></card-button>
            </simple-card>
        </template>
        <template v-if="site==='admintimetableedit'">
            <template v-if="timetable !== undefined">
                <simple-card :key="timetable.id" style="height: 500px">
                    <form id="timetable">
                        <card-label label="Редактирование"></card-label>
                        <card-image :src="timetable.courseimg"></card-image>
                        <card-input name="savename" label="Название" :value="timetable.coursename"></card-input>
                        <card-input name="saveimg" label="Аватар" :value="timetable.courseimg"></card-input>
                        <p class="card-label">Учитель</p>
                        <select name="saveteacher">
                            <template v-for="teacher in teachers">
                                <option :value="teacher.id">{{teacher.name}} {{teacher.surname}}</option>
                            </template>
                        </select>
                        <p class="card-label">Дата</p>
                        <input type="date" :value="datestring" name="date" class="card-input">
                        <p class="card-label">Время</p>
                        <input type="time" :value="timestring" name="time" class="card-input">
                        <input type="hidden" name="saveid" :value="timetable.id">

                        <card-button @click.prevent.native="savetimetable(timetable.id, 'timetable')" label="Сохранить"></card-button>
                        <card-button @click.prevent.native="admintimetable" class="second-card-button" label="Отменить"></card-button>
                    </form>
                </simple-card>
            </template>
            <template v-else>
                <simple-card style="height: 650px">
                    <form id="timetablecreate">
                        <card-label label="Создание"></card-label>
                        <card-image src="img/noroot.png"></card-image>
                        <input type="hidden" value="default" name="saveid">
                        <card-button @click.prevent.native="saveprofile('default', 'profilecreate')" label="Сохранить"></card-button>
                        <card-button @click.prevent.native="adminprofile" class="second-card-button" label="Отменить"></card-button>
                    </form>
                </simple-card>
            </template>
        </template>
    </template>

</div>

<footer>
    Крутой ЦОИ Стем <br>
    Звони: x-xxx-xxx-xx-xx
</footer>


<script src="js/image-resize.js"></script>

</body>
</html>